mpd/log
mpd/pid
mpd/state
mpd/database
ncmpcpp/error.log
*.example
newsboat/cache.db
newsboat/history.cmdline
newsboat/queue
newsboat/cache.db.lock
lazygit/state.yml

bash/cache/bashhistory
newsboat/cookie.txt
